.Button-Login{
    margin-top: 4%;
}

ion-button[color="shine"]{
    text-transform: initial;
}

ion-card{
    background-color: whitesmoke;
}

.ion-item-Login{
    --background: whitesmoke;
}

ion-content{
    --background: red;
}
