<ion-content>
  <div class="Card_Register">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="Text-center-padding-blod">Informacion Personal</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <!-- Creacion de la solicitud de informacion -->
          <ion-item>
            <ion-label position="floating">Nombres</ion-label>
            <ion-input type="name" placeholder="Ingrese su nombre"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input  type="lastname" placeholder="Ingrese sus apellidos"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" placeholder="example@gmail.com"></ion-input>
          </ion-item>

          <ion-item class="ion-item-Login">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input  type="password" placeholder="password"></ion-input>
          </ion-item>

          <ion-button color="danger" size="full" class="Register-Button" routerLink="/alert">Finalizar Registro</ion-button>
  
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
